* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: #202124;
}

header {
    display: flex;
    justify-content: end;
    height: 60px;
    padding: 0 12px;
}

header .options {
    display: flex;
    align-items: center;
    gap: 12px;
}

header .options a {
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: black;
}

header .options a img {
    height: 24px;
    width: 24px;

}